{% extends 'base.html'%}

{%block scripts%}
<script>
$(document).ready(function(){
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: [{%for data in qs%}'{{data.jmeno_objektu}}',{%endfor%}],
                datasets: [{
                    label: '# of users',
                    data: [{%for data in qs%}{{data.pocet_objektu}},{%endfor%}],
                    backgroundColor: [
                        'rgba(255, 99, 132)',
                        'rgba(54, 162, 235,)',
                        'rgba(255, 206, 86)',
                        'rgba(75, 192, 192)',
                        'rgba(153, 102, 255)',
                        'rgba(255, 159, 64)'
                    ],
                    borderWidth: 0 //šířka mezery, základ je 1, 0 = bez mezery
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
});
    });
</script>
{%endblock scripts%}

{%block content%}
<canvas id="myChart" width="1600" height="600"></canvas>
{%endblock content%}